h1 {
    text-align: center;
    font-size: 40pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: crimson
}

body{
    background: black;
    color: aliceblue
}

.p1{
    background: lightblue;
    font-family: impact;
    color: red;
    font-size: 11pt;
    text-align: center
}

#p2{
    background: rgb(207, 22, 22);
    font-family: impact;
    color: blue;
    font-size: 11pt
}
