<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTML ini</title>
</head>
<body>
    <h1>formulir boongan</h1>
    <img
        height = "100px"
        witdh = "100px"
        src="http://localhost:5000/images/foto/score.png"

    />
    <form action="http://localhost:5000/post" method="post">
        
        <p>Nama : <input name="nama" type="text" placeholder="ketik nama anda"/>
        </p>
        <P>
            PASS : <input name="pass" type="password" placeholder="Ketik password...">
        </P>
        <p>
            <input type="submit" value="login"/>
        </p>
        <button>tekan ini bego</button>
        </p>
    </form>
    
</body>
</html>