<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!--internal style-->
    <style>
        h2 {
            color: rgb(63, 114, 99);
            font-family: Impact
        }
    </style>
    <link rel="stylesheet" type="text/css" href="gaya.css">
</head>
<body style = "background-color: red; color: white" >
    <center>
        <br><br><br>
        <!-- inline style-->
        <h1 style="color: yellow; font-family: Impact">
            404 Not Found!
        </h1>
        <h2>Halo, Apa kabar?</h2>
        <h3>Style dari external</h3>
    </center>
    
</body>
</html>